
<!--&lt;!&ndash;在这个里面，开始设计注册表单&ndash;&gt;-->
<!--<form method="post" class="form-horizontal loginc">-->
    <!--<div class="form-group">-->
        <!--<label for="name" class="col-sm-2 control-label">用户名:</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input id="name" class="form-control" type="text" name="name"></br>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="password" class="col-sm-2 control-label">密码:</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input id="password" class="form-control" type="password" name="password"></br>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label for="password-repeat" class="col-sm-2 control-label">确认密码:</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input id="password-repeat" class="form-control" type="password" name="password-repeat"></br>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="emile" class="col-sm-2 control-label">Emile:</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input id="emile" class="form-control" type="email" name="emile"></br>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-2 col-sm-10">-->
            <!--<button type="submit" class="btn  button-primary button-rounded">注册</button>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;<label>密码:</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="password" name="password"></br>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>确认:</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="password" name="password-repeat"></br>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>邮箱:</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="email" name="email"></br>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="submit" value="注册">&ndash;&gt;-->
<!--</form>-->
<!---->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->

<div id="login-page">
    <div class="container">

        <form class="form-login">
            <h2 class="form-login-heading">注册</h2>
            <center id="message" style="color: red"></center>

            <div class="login-wrap">
                <input type="text" name="name" class="form-control" placeholder="用户名" autofocus>
                <br>
                <input type="password" name="password" class="form-control" placeholder="密码">
                <br>
                <input type="password" name="password-repeat" class="form-control" placeholder="确认密码">
                <br>
                <input type="email" name="email" class="form-control" placeholder="Email">
                <label class="checkbox">
		                <span class="pull-right">
		                    <a data-toggle="modal" href="login.html#myModal">忘记密码?</a>

		                </span>
                </label>
                <button class="btn btn-theme btn-block"  type="submit"><i class="fa fa-lock"></i>提交</button>
                <button class="btn btn-theme btn-block" href="\" ><a href="\">取消</a></button>
                <hr>

                <div class="login-social-link centered">
                    <p>第三方登录</p>
                    <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
                    <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
                </div>
            </div>


        </form>

    </div>
</div>

<!-- js placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("assets/img/login-bg.jpg", {speed: 500});
    $(function () {
        $("form").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url:"/reg",
                method:"post",
                data:$(this).serialize()
            }).success(function (data) {
                console.log(data.message);
                $("#message").html(data.message);
                if(data.message=="success"){
                    location.href="/";
                }

            })
        })
    })
</script>

</body>
</html>